.brand{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.logo{
width: 2.3rem;
}
.contacts{
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    gap:0.7rem;
    height: 59vh;
width: 100%;
overflow-y: auto;
overflow-x: hidden;

}
.contacts::-webkit-scrollbar{
    background-color: #ffffff39;
   width: 0.2rem;
}
.contact{
    font-weight: 600;
    border: solid 1px transparent;
    transition: 0.5s ease-in-out;
    background-color:#ffffff39;
    width: 95%;
 color: white;
 padding: 0.8rem;
}

.selected{
background-color: #9186f3;
}
.current_user{
    background-color: #0d0d30;
   display: flex;
    justify-content: center;
    align-items: center;
  color: white;
  font-weight: 600;
  padding-bottom: 1.8rem;
  padding-top: 0.5rem;
width: 100%;
text-transform: uppercase;
.img-wrap{
   width: 40px;
    
}
}
.hole-chattify{
margin-right: auto;
    background-color: #080420;
flex-wrap: wrap;
  
}
